*{
    margin: 0;
    padding: 0;
}

@font-face {
    /*这里的font-family名字随便起*/
    font-family: "iconfont";
    /*指定.eot文件位置*/
    src: url("font/iconfont.eot");
    src: url("font/iconfont.eot") format("embedded-opentype"),
         /*以下为了兼容不同浏览器*/
         url("font/iconfont.woff") format("woff"),
         url("font/iconfont.ttf") format("truetype"),
         url("font/iconfont.svg#iconfog") format("svg");
}

ul{
    list-style: none;
}

a:link,a:visited{
    text-decoration: none;
    color: #333;
}

body{
    font-family: "微软雅黑";
    color: #14191e;
}

.main{
    width: 1200px;
    height: 460px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}

.banner{
    width: 1200px;
    height: 460px;
    overflow: hidden;
    /*这里的relative 是为了使得banner-slide 的绝对定位的父元素为 banner所在的标签*/
    position: relative;
}
.banner-slide{
    width: 1200px;
    height: 460px;
    /*absolute: 相对于最近的已定位的父元素，如果没有已定位的父元素，那么它的位置相对于<html>*/
    position: absolute;
    background-repeat: no-repeat;
    display: none;
}
.slide1{
    background-image: url("banner/bg1.jpg");
}
.slide2{
    background-image: url("banner/bg2.jpg");
}
.slide3{
    background-image: url("banner/bg3.jpg");
}

/*要显示的图片*/
.slide-active{
    display: block;
}

/*图片按钮*/
.button{
    position: absolute;
    width: 40px;
    height: 80px;
    /*left和right同时出现的时候left先起作用*/
    left: 244px;
    top: 50%;
    margin-top: -40px;
    background: url("banner/arrow.png") no-repeat center center;
}
.button:hover{
    background-color: #333;
    opacity: 0.3;
    /*透明度兼容性*/
    filter: alpha(opacity=30);
}

/*上一张图片按钮*/
.prev{
    /*箭头图片旋转180度*/
    transform: rotate(180deg);
}

/*下一张图片按钮*/
.next{
    /*这里要先设置left为 auto，right才会起作用，
    因为button 中设置过left*/
    left: auto;
    right: 0;
}
/*圆点导航*/
.dots{
    position: absolute;
    right: 20px;
    bottom: 24px;
    text-align: right;
}
.dots span{
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    background: rgba(7, 17, 27, 0.4);
    /*box-shadow, 阴影，
    水平阴影位置，垂直阴影位置，模糊距离（可选）， 阴影尺寸（可选）， 阴影颜色（可选）
    */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    margin-left: 8px;
    /*光标，手型*/
    cursor: pointer;
}

.dots span.active{
    box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
    background: #FFFFFF;
}

/*导航菜单,
HTML中menu-box在banner之前，再给出position属性之后，menu-box被banner覆盖了*/
.menu-box{
    width:244px;
    height:460px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(7, 17, 27, 0.5);
    opacity: 0.5;
    z-index: 1;
}

.menu-content{
    width: 244px;
    /*有6px的顶部填充*/
    height: 454px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding-top:6px;
}
.menu-item{
    position: relative;
    height: 64px;
    line-height: 66px;
    font-size: 16px;
    padding:0 24px;
}
.menu-item a:link,.menu-item a:visited{
    color: #fff;
}
.menu-item a{
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 8px;
    height: 63px;
}
.menu-item i{
    position: absolute;
    right: 32px;
    font-size: 24px;
    top: 2px;
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

/*子菜单*/
.sub-menu{
    width: 730px;
    height: 458px;
    border: 1px solid #d9dde1;
    background: #FFFFFF;
    position: absolute;
    left: 244px;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.inner-box{
    width: 100%;
    height:100%;
    background: url("banner/fe.png") no-repeat;
    display: none;
}
.sub-inner-box{
    width: 652px;
    margin-left: 40px;
    overflow: hidden;
}

.title{
    color: #f01414;
    font-size: 16px;
    line-height: 16px;
    margin: 28px 0 30px 0;
    font-weight: bold;
}

.sub-row{
    margin-bottom: 25px;
}
.bold{
    font-weight: bold;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}

.hide{
    display: none;
}