<div class="img-thumbnail">
  <img src="http://placehold.it/820x230">
  <div>
  <!-- product?.price 表示当product没有值的时候，不访问其price属性  -->
    <h4 class="pull-right">￥{{product?.price}}</h4>
    <h5>{{product?.title}}</h5>
    <p>{{product?.desc}}</p>
  </div>
  <div>
    <p class="pull-right">{{comments?.length}} 条评论</p>
    <p>
      <app-stars [rating]='product?.rating'></app-stars>
    </p>
  </div>
</div>
<div>
  <button class="btn btn-success btn-sm" (click)="isCommentHidden = !isCommentHidden">添加评论</button>
</div>
<div [hidden]="isCommentHidden">
<!--  readonly=false,可以评价；[rating]="newRating",默认5星评价-->
  <div><app-stars [readonly]="false" [(rating)]="newRating"></app-stars></div>
  <div><textarea [(ngModel)]="newComment"></textarea></div>
  <div><button class="btn btn-sm col-lg-2 btn-primary" (click)="addComment()">提交</button></div>
  <br>
</div>
<div class="card"  *ngFor="let comment of comments">
  <div class="row">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span class="ml-1 font-weight-bold">{{comment.user}}</span>
      <span class="pull-right mr-2">{{comment.timestamp}}</span>
      <p class="ml-1 mt-3">{{comment.content}}</p>
    </div>
  </div>
</div>

