<div>
  <div *ngFor="let product of products" class="card col-md-4 mt-1" style="float: left;border: none;">
    <img src="http://placehold.it/320x150" class="img-thumbnail">
    <div class="card-body">
      <h5 class="card-title float-md-left">{{product.title}}</h5>
      <h4 class="card-subtitle mb-2 text-muted float-md-right"><a>￥{{product.price}}</a></h4>
      <div class="clearfix"></div>
      <p class="card-text">{{product.desc}}</p>
    </div>
    <div>
      <app-stars></app-stars>
    </div>
  </div>
</div>
