ul {
  padding: 0;
  margin: 0;
  display: flex;
  /*
  默认横行
  flex-direction: row;
  */
  white-space: nowrap;
}

ul li {
  display: inline-block;
  margin: 0 5px;
}

a {
  text-decoration: none;
}

/*有些模拟器上会有滚动条，我们不希望滚动条出现，去掉滚动条*/
::-webkit-scrollbar {
  display: none;
}
